/* ============================================= */
/*             Color Variables                     */
/* ============================================= */

$color-primary: #58e1c1;
$color-secondary: #777;
$color-tertiary: #51ddfc;
$color-quaternary: #e4757a;
$color-quinary: #fd7856; 

/* ============================================= */
/*              Media Queries                       */
/* ============================================= */

$breakpoint-normal: 768px;
$breakpoint-large: 1400px;

/* ============================================= */
/*              Font                     */
/* ============================================= */

$font: 'Lato', sans-serif;
$weight-normal: 300;
$weight-large: 700;
$margin-left-small: 10px;
$margin-left-medium: 20px;
